.corn-margin-bottom, .corn-panel p {
  margin-bottom: var(--cc-size-0);
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}


.corn-form--item,
.corn-text-input input{
  max-width: 100%;
  width: 100%;
}
.corn-text-input--sm input {
  padding: 0 var(--cc-size--3);
}

.islight .hex-preview {
  color: var(--cc-gray-90);
  
}

.isdark .hex-preview {
  color: var(--cc-gray-10);
}
#hex-preview {
  border-radius: var(--cc-border--radius);
  box-shadow: inset 0 0 0 1px rgb(from var(--cc-gray-20) r g b / 50%);
  display: none;
}
.hex-preview {
  padding: var(--cc-size--4);
  border-radius: var(--cc-border--radius);
  box-shadow: inset 0 0 0 1px rgb(from var(--cc-gray-20) r g b / 50%);
}
.hex-user {
  box-shadow: none;
}
.hex-preview-ghost-text {
  font-size: var(--cc-size-0);
  color: var(--cc-gray-60);
  padding: var(--cc-size-0);
  
}


.corn-slider input[type=range] {
  --cc-slider--thumb--background--border:transparent;
  --cc-slider--thumb--background: transparent;
  --cc-slider--track--background: transparent;
  --cc-slider--border-color: transparent;
  --cc-slider--thumb--background--hover: rgb(from var(--cc-gray-20) r g b / 10.2%);
  border-radius: var(--cc-border--radius);
  height: var(--cc-size--1);
  margin-top: var(--cc-size--5);
  &::-webkit-slider-runnable-track {
    border-color: transparent;
  }
  &::-moz-range-track {
    border-color: transparent;
  }
  &::-moz-range-thumb {
    border-radius: var(--cc-border--radius--xs);
    width: var(--cc-size--3);
  }
  &::-webkit-slider-thumb {
    border-radius: var(--cc-border--radius--xs);
    width: var(--cc-size--3);
  }
}

.color-step-preview {
  position: relative;
}
.lock-icon {
  position:absolute;
  top: var(--cc-size--4);
  right: var(--cc-size--5);
}
input[name="color-lock"]:checked + .lock-icon {
  display: block;
}

.color-examples {
  display: grid;
  
  grid-template-columns: minmax(0, 1fr) 
  minmax(0, 1fr)
  minmax(0, 1fr)
  minmax(0, 1fr)
  minmax(0, 1fr)
  minmax(0, 1fr)
  minmax(0, 1fr)
  minmax(0, 1fr)
  minmax(0, 1fr);
  transition: grid-template-columns var(--cc-transition--time--fast) var(--cc-transition--easing);
  .color-example {
    margin-right: var(--cc-size--5);
  }
  
}
.color-example:has([name="color-category"]:checked) {
  div {
    color: transparent !important;
    height: var(--cc-size-0);
  }
}
  
.color-example {
  display: grid;
  grid-template-rows: minmax(0, 1fr) 
  minmax(0, 1fr) 
  minmax(0, 1fr) 
  minmax(0, 1fr) 
  minmax(0, 1fr) 
  minmax(0, 1fr) 
  minmax(0, 1fr) 
  minmax(0, 1fr) 
  minmax(0, 1fr) 
  minmax(0, 1fr) 
  minmax(0, 1fr);
  gap: var(--cc-size--5);
  margin-top: var(--cc-size--5);
  transition: grid-template-rows var(--cc-transition--time--fast) var(--cc-transition--easing);
  overflow: hidden;
  div, label {
    min-height: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: all var(--cc-transition--time--fast) var(--cc-transition--easing);
    flex: 1;
    height: 50px;
    
    padding-left: var(--cc-size--4);
    border-radius: var(--cc-border--radius);
  }
}

.color-example-row .selected { 
  color:transparent !important;
}
.color-examples-toolbar div {
  height: var(--cc-size-2);
  transition: transform var(--cc-transition--time--fast) var(--cc-transition--easing);
  
}
.color-examples-toolbar div:has([type="checkbox"]:checked) {
  
  transform: translateY(0) translateX(calc(var(--cc-size--4) * -1));


}
color-steps-examples {
  display: grid;
  gap: var(--cc-size--2);
}
.color-steps-container {
  &.edit-mode {
    grid-template-columns: repeat(11, 1fr);
  } 
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: var(--cc-size--5);
  margin-top: var(--cc-size--4);
  div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    height: 50px;
    padding-left: var(--cc-size--4);
    border-radius: var(--cc-border--radius);
  }
}
.color-filters .corn-col-sm-6:first-of-type {
  border-right: 1px solid var(--cc-gray-20);
}

hex-preview {
  max-width: 300px;
}

.color-example-form {
  gap: var(--cc-size-2);
}

.palette-tokens {
  margin-top: 0;
  height: 500px;
  font-size: var(--cc-size-0);
  padding: var(--cc-size--4);
  border-radius: var(--cc-border--radius);
  background-color: var(--cc-gray-10);
  box-shadow: inset 0 0 0 1px rgb(from var(--cc-gray-20) r g b / 50%);
  overflow-x: auto;
  white-space: pre;
}
.palette-sample-image sample-image {
  display: inline-flex;
  height: var(--cc-size-10);
}


.corn-text-input--xs {
  input {
    padding: 0 var(--cc-size--4);
  }
}




.corn-toggle-group:has(.corn-assistive-text) {
  max-width: max-content;
} 
.corn-header-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.corn-assistive-text {
  border: 0;
  display:block !important;
  overflow: hidden;
  height: 1px !important;
  width: 1px !important;
  position: absolute !important;
  white-space: nowrap !important; 
  margin: -1px;    
}
.color-step-preview label {
  cursor: pointer;
}
.palette-lock-checkbox + label {
  svg {
    display: none;
  }
}   
.palette-lock-checkbox:checked + label {
  svg {
    display: block;
  }
}

.corn-copied.corn-button {
      background-color: var(--cc-green-40);
      color: var(--cc-green-100);
}
fieldset.corn-checkbox-group--inline {
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
}

h1 {
  font-size: 2rem;
  font-weight: 600;
}
h2 {
  font-size: 1.5rem;
  font-weight: 600;
}
h3 {
  font-size: 1.25rem;
  font-weight: 600;
}
  /* --cc-form--item--size--xs: var(--cc-size-2);
  --cc-form--item--size--sm: var(--cc-size-4);
  --cc-form--item--size--md: var(--cc-size-5);
  --cc-form--item--size--lg: var(--cc-size-6);
  --cc-form--item--size--xl: var(--cc-size-7); */