.corn-margin-bottom {
  margin-bottom: var(--cc-size-0);
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

fieldset.color-space-toggle {
  margin-bottom: var(--cc-size-0);
}


.corn-form--item,
.corn-text-input input{
  max-width: 100%;
  width: 100%;
}
.corn-text-input--sm input {
  padding: 0 var(--cc-size--3);
}

.islight .hex-preview {
  color: var(--cc-gray-90);
  
}

.isdark .hex-preview {
  color: var(--cc-gray-10);
}
#hex-preview {
  display: none;
}
.hex-preview {
  padding: var(--cc-size--4);
  border-radius: var(--cc-border--radius);
}


.corn-slider input[type=range] {
  --cc-slider--thumb--background--border:transparent;
  --cc-slider--thumb--background: transparent;
  --cc-slider--track--background: transparent;
  --cc-slider--border-color: transparent;
  --cc-slider--thumb--background--hover: rgb(from var(--cc-gray-20) r g b / 10.2%);
  border-radius: var(--cc-border--radius);
  height: var(--cc-size--1);
  margin-top: var(--cc-size--5);
  &::-webkit-slider-runnable-track {
    border-color: transparent;
  }
  &::-moz-range-track {
    border-color: transparent;
  }
  &::-moz-range-thumb {
    border-radius: var(--cc-border--radius--xs);
    width: var(--cc-size--3);
  }
  &::-webkit-slider-thumb {
    border-radius: var(--cc-border--radius--xs);
    width: var(--cc-size--3);
  }
}

.color-step-preview {
  position: relative;
}
.lock-icon {
  position:absolute;
  top: var(--cc-size--4);
  right: var(--cc-size--5);
}
input[name="color-lock"]:checked + .lock-icon {
  display: block;
}

.color-steps-container {
  &.edit-mode {
    grid-template-columns: repeat(11, 1fr);
  } 
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: var(--cc-size--5);
  margin-top: var(--cc-size--4);
  div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    height: 50px;
    padding-left: var(--cc-size--4);
    border-radius: var(--cc-border--radius);
  }
}

.corn-toggle-group:has(.corn-assistive-text) {
  max-width: max-content;
} 
.corn-assistive-text {
  border: 0;
  display:block !important;
  overflow: hidden;
  height: 1px !important;
  width: 1px !important;
  position: absolute !important;
  white-space: nowrap !important; 
  margin: -1px;    
}
  /* --cc-form--item--size--xs: var(--cc-size-2);
  --cc-form--item--size--sm: var(--cc-size-4);
  --cc-form--item--size--md: var(--cc-size-5);
  --cc-form--item--size--lg: var(--cc-size-6);
  --cc-form--item--size--xl: var(--cc-size-7); */